* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.boton-inicio {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}

.boton-inicio .botonPrincipal {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.boton-inicio .botonPrincipal:hover {
  background-color: #555;
  transform: scale(1.1);
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.counter{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.temporizador {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.counter button{
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: #333;
  color: #d5d5d5;
  cursor: pointer;
  border-radius: 40%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.temporizador button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  background-color: #333;
  color: #d5d5d5;
  cursor: pointer;
  border-radius: 40%;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.counter button:hover,
.temporizador button:hover {
  background-color: #555;
  transform: scale(1.1);
}

.counter span {
  font-size: 30px;
  margin: 0 10px;
}

.temporizador input[type="number"] {
  padding: 10px;
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.temporizador button {
  margin: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
}

.container .counter,
.container .temporizador {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.container .counter button,
.container .temporizador button {
  width: 60px;
  height: 60px;
  font-size: 27px;
}

.container .temporizador input[type="number"] {
  width: 150px;
}

.container .temporizador input[type="number"]::-webkit-inner-spin-button,
.container .temporizador input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container .temporizador input[type="number"]::-moz-inner-spin-button,
.container .temporizador input[type="number"]::-moz-outer-spin-button {
  -moz-appearance: none;
  margin: 0;
}

.container .temporizador input[type="number"]::-ms-inner-spin-button,
.container .temporizador input[type="number"]::-ms-outer-spin-button {
  -ms-appearance: none;
  margin: 0;
}

.container .temporizador input[type="number"]::-webkit-input-placeholder {
  color: #999;
}

.container .temporizador input[type="number"]::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.container .temporizador input[type="number"]:-ms-input-placeholder {
  color: #999;
}

.container .temporizador input[type="number"]::placeholder {
  color: #999;
}

